.bg1{background-color: #f9f9f9;
    margin: -10px;
    padding-right: 20px;
    padding-left: 20px;}

.bg2{background-color: #376683;
    margin: -10px;
    padding: 20px;}

.bg3{background-image:url("photos/background2.jpg");
    background-attachment: fixed;
    background-size: cover;
    margin: -10px;
    padding: 20px;}

.bg4{background-color: #02101e;
    margin: -10px;
    padding: 20px;}

h1{margin-top: 10px;
    font-size: 100px;
    text-align: center;
    font-family: "Times New Roman";
    color: #38ABC8;}

.center{
    display: flex;
    justify-content: space-around;}

.text{text-align: center;
    font-size: 25px;
    font-family: "Times New Roman";
    font-weight: bold;
    color: #376683;
    width: 350px;
    height: 400%;}

.btn{border: none;
    border-radius: 5px;
    background-color: #f9f9f9;
    padding: 14px 28px;
    color: #38ABC8;
    font-size: 25px;
    font-family: "Times New Roman";
    cursor: pointer;
    display: inline-block;}

.btn:hover {background: #376683;}

button:focus{outline: 0;}

.center-btn {text-align: center;}

.map{float: left;
    margin-right:15px;
    margin-top: -50px;
    padding: 2px;}

.map-text{font-size: 30px;
    display: block;
    color: #f9f9f9;
    margin-top: 60px;
    margin-right: -20px;
    font-family: "Andale Mono";}

.bef-table{color: #38ABC8;
    text-align: center;
    font-size: 25px;
    font-family: "Andale Mono";
    display: inline-block;}

table{ text-align: center;
    background-color: #b2dceb;
    border: #011b39;
    border: double;
    color: #011b39}

.img { width: 27%;
    border-radius: 5px;
    margin-left: 40px;
    margin-right: 40px;
    justify-content: space-around;}

.img-text{display: flex;
    font-size: 20px;
    justify-content: space-around;}

a:link{color: #011b39;
    text-decoration: none;}
a:visited{color: #011b39;
    text-decoration: none;}
a:hover{color: #b2dceb;
    text-decoration: underline;}
a:active{color: #38ABC8;
    text-decoration: underline;}

blockquote{text-align: center;}

.protect{display:flex;
    justify-content: center;}

.list-ul{column-count: 2;
    margin-top: 75px;
    margin-left: -80px;
    width: 60%}

.list{background-color: #f9f9f9;
    width: 80%;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    mix-blend-mode: screen;
    border-radius: 5px;}

.footer{color: #f9f9f9;
    background-color: #02101e;
    font-size: 16px;
    border: none;
    border-color: #f9f9f9;
    font-size: 25px;
    margin-left: 40px;
    margin-right: 40px;
    justify-content: space-between;
    cursor: pointer;}

.footer:hover{color: #376683;}

.footer-btn{color: #f9f9f9;
    border: none;
    background-color: #02101e;
    font-size: 25px;
    margin-left: 10px;
    margin-right: 10px;
    justify-content: space-around;
    cursor: pointer;}

.instagram:hover {color: #dd2a7b;}
.email:hover {color: #db644a;}
.facebook:hover {color: #3b5998;}
.twitter:hover {color: #00acee;}